body.theme-light,
:root.theme-light {
  --color-actionbar-background: #FFFFFF;
  --color-content-background: #FFFFFF;
  --color-tile-background: #FFFFFF;
  --color-tile-stroke: #00000014;
  --color-toolbar-background: #FFFFFF;
  --color-text-primary: #000000;
  --color-content-high: #000000C2;
  --color-content-default: #0000008C;
  --color-content-low: #00000057;

  --color-base-100: var(--color-light-100);
  --color-base-76: var(--color-light-100);
  --color-base-55: var(--color-light-100);
  --color-base-34: var(--color-light-100);
  --color-base-8: var(--color-light-100-8);
  --color-base-0: var(--color-light-100-0);
  --color-input-edit: var(--color-dark-0-8);

  
  --color-substack: #ff6719;
  --color-instagram-yellow: #ffd600;
  --color-instagram-orange: #ff7a00;
  --color-instagram-red: #ff0069;
  --color-instagram-pink: #d300c5;
  --color-instagram-purple: #7638fa;
  --color-youtube-magenta: #fe2792;
  --color-youtube-red: #ff0132;
  --color-figma-purple: #874fff;
  --color-figma-red: #ff3737;
  --color-figma-orange: #ff7237;
  --color-figma-blue: #00b6ff;
  --color-figma-green: #24cb71;
  
  --color-editable-hover: rgba(0, 0, 0, 0.03);

  --primary-color: #009688;
  --secondary-color: #bfc2c462;
  --destructive-color: #e91e63;
  --text-color: #33312c;
  --tile-color: #ffffff00;
}

body.theme-dark,
:root.theme-dark {
  --color-actionbar-background: #000000;
  --color-content-background: #10100E;
  --color-tile-background: #000000;
  --color-tile-stroke: #FFFFFF21;
  --color-toolbar-background: #000000;
  --color-text-primary: #FFFFFF;
  --color-content-high: #FFFFFFC2;
  --color-content-default: #FFFFFF8C;
  --color-content-low: #FFFFFF57;

  --color-base-100: var(--color-dark-0);
  --color-base-76: var(--color-dark-0-76);
  --color-base-55: var(--color-dark-0-55);
  --color-base-34: var(--color-dark-0-34);
  --color-base-8: var(--color-dark-0-8);
  --color-base-0: var(--color-dark-0-0);
  --color-input-edit: var(--color-light-100-8);
  
  --color-substack: #ff6719;
  --color-instagram-yellow: #ffd600;
  --color-instagram-orange: #ff7a00;
  --color-instagram-red: #ff0069;
  --color-instagram-pink: #d300c5;
  --color-instagram-purple: #7638fa;
  --color-youtube-magenta: #fe2792;
  --color-youtube-red: #ff0132;
  --color-figma-purple: #874fff;
  --color-figma-red: #ff3737;
  --color-figma-orange: #ff7237;
  --color-figma-blue: #00b6ff;
  --color-figma-green: #24cb71;
  
  --color-editable-hover: rgba(255, 255, 255, 0.05);

  --primary-color: #9e4db6;
  --secondary-color: #312a354b;
  --destructive-color: #ec407a;
  --text-color: #fffef5;
  --tile-color: #574d5731;
}

body {
  background-color: var(--color-content-background);
  color: var(--color-text-primary);
  transition: background-color var(--transition-normal), color var(--transition-normal);
}
